<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1.配置环境，默认环境id为mysql-->
    <environments default="postgresql">
        <!--1.2 配置 id为postgresql的数据库环境-->
        <environment id="postgresql">
            <!--使用 JDBC 的事务管理-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://ec2-54-243-49-82.compute-1.amazonaws.com:5432/d8ebsarq3a1aso"/>
                <property name="username" value="ppffuulkcnvelr"/>
                <property name="password" value="fdff2d71f7abaeb910ee96292d9a67319e214bf2031463a23ae8fa02edfb87e2"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置 Mapper的位置-->
    <mappers>
        <mapper resource="mybatis/userMapper.xml"/>
        <mapper class="hello.dao.StaticConfigDAO"/>
        <mapper class="hello.dao.AccountingDAO"/>
        <mapper class="hello.dao.IdInfoDAO"/>
        <mapper class="hello.dao.UtilsDAO"/>
    </mappers>
</configuration>
