<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--1.配置环境，默认环境id为mysql-->
    <environments default="postgresql">
        <!--1.2 配置 id为postgresql的数据库环境-->
        <environment id="postgresql">
            <!--使用 JDBC 的事务管理-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://ec2-50-19-222-129.compute-1.amazonaws.com:5432/d5r278mjtisjsf"/>
                <property name="username" value="ayxmmyhxsgohnw"/>
                <property name="password" value="b1f87d4a984f959c78282e492583a159630e9ac9b3c8cfab063c20f64317d0a8"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置 Mapper的位置-->
    <mappers>
        <mapper resource="mybatis/userMapper.xml"/>
    </mappers>
</configuration>
